<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bz copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>bz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>617288A61E10BCA40037DB40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>617288C21E10BCA40037DB40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>617288CD1E10BCA40037DB40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61FC05AA1E52D3440093A866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
